<!DOCTYPE html>
<html>
<head>
	<title>List of Services Available</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/4c83943fe3.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div id="app">

		<div class="container">
			<h3 class="text-center mt-4">List of Services Available</h3>
			<div class="row">
				<div class="col-md-6 mt-4" v-for="serv in services">
					<div class="card">
					  <div class="card-header">
					  	<div class="row">
					  		<div class="col-md-6 pull-left"><h4><i class="fa fa-cog" aria-hidden="true"></i> {{serv.name}}</h4></div>
					  		<div class="col-md-6" style="text-align: right">
					  			<i class="fa fa-usd" aria-hidden="true"></i> {{serv.price}}</div>
					  </div>
					  </div>
					  <div class="card-body">
					    <h5 class="card-title"></h5>
					    <p class="card-text"><i class="fa fa-user" aria-hidden="true"></i> Name of Provider: {{serv.provider.name}}</p>
					    <p class="card-text"><i class="fa fa-clock" aria-hidden="true"></i> Duration : {{serv.duration}}</p>
					    <p class="card-text"><i class="fa fa-money" aria-hidden="true"></i> Cancelation Fee: <i class="fa fa-usd" aria-hidden="true"></i> {{serv.cancellation_fee}}</p>
					    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
					  </div>
					  <div class="card-footer">
					  	<i class="fa fa-phone" aria-hidden="true"></i> {{serv.provider.phone_number}} &nbsp;&nbsp;   <i class="fa fa-envelope" aria-hidden="true"></i> {{serv.provider.email}} &nbsp;&nbsp;   <i class="fa fa-map-marker" aria-hidden="true"></i> {{serv.provider.address}}, {{serv.provider.city}} 
					  </div>
					</div>
				</div>
			</div>
		</div>		
	</div>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<script type="text/javascript">
	new Vue({
		el: '#app',

		data ()
		{
			return{
				services: [],
				provider: []
			}

		},

		mounted(){
			axios.get('http://wrenew-backend.herokuapp.com/api/services')
			.then(response => (this.services = response.data.services))

			// if(localStorage.name){
			// 	this.name = localStorage.name;
			// },

			// watch: {
			// 	name(newName){
			// 		localStorage.name = newName
			// 	}
			// }
		}
	});
</script>